* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21263f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow: hidden;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 1rem;
}

.game-container {
  position: relative;
  width: 450px;
  height: 350px;
  padding: 40px 30px;
  margin: auto;

  .wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;

    span {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }
  }

  .word {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
  }

  .letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(26, 104, 223, 0.377);
    margin-right: 1rem;
    font-size: 2rem;
    height: 50px;
    width: 20px;
  }
}

.figure-container {
  stroke: #fff;
  stroke-width: 4px;
}

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #309446;
    padding: 30px;
    border-radius: 10px;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 80%;
    }

    &:active {
      position: relative;
      top: 2px;
    }

    &:focus {
      outline: 0;
    }
  }
}

.notification-container {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: -50%;
  transition: all 0.3s ease-in-out;

  &.show {
    bottom: 0;
  }
}
